{% include('BadgeBoxBundle:Site:quick-create.html.twig') %}

<div id="content-fil">


    <div class="fil-actu">
        <img src="{{ asset('bundles/badgebox/images/achievements/world-class-achievement.png') }}" class="fil-img-ach" />
        <div class="fil-actu-av">
            <img src="{{ asset('bundles/badgebox/images/Avatars/world-burn.jpg') }}" class="fil-avatar">
            <p class="points">50 points</p>
        </div>

        <div class="fil-actu-ct">
            <p class="infos">
                <img src="{{ asset('bundles/badgebox/images/ico/next@2x.png') }}" class="icostart" />
                <a href="{{ path('badge_box_home') }}" class="link">Christophe Gautier</a>

                <img src="{{ asset('bundles/badgebox/images/ico/calendar@2x.png') }}" class="ico" />
                30/01/13
                <img src="{{ asset('bundles/badgebox/images/ico/clock@2x.png') }}" class="ico" />
                13h20</p>
            <p class="actu">A ab cupiditate
                placeat quaerat recusandae velit. Asperiores commodi dolore doloribus dolorum</p>
            <p class="options">Accepter - <span class="red">Decliner</span></p>
        </div>
    </div>

    <div class="fil-actu">
        <img src="{{ asset('bundles/badgebox/images/achievements/world-class-achievement.png') }}" class="fil-img-ach" />
        <div class="fil-actu-av">
            <img src="{{ asset('bundles/badgebox/images/Avatars/noAvatar.png') }}" class="fil-avatar">
            <p class="points">12000 points</p>
        </div>

        <div class="fil-actu-ct">
            <p class="infos">
                <img src="{{ asset('bundles/badgebox/images/ico/next@2x.png') }}" class="icostart" />
                <a href="{{ path('badge_box_home') }}" class="link">Christophe Gautier</a>

                <img src="{{ asset('bundles/badgebox/images/ico/calendar@2x.png') }}" class="ico" />
                30/01/13
                <img src="{{ asset('bundles/badgebox/images/ico/clock@2x.png') }}" class="ico" />
                13h20</p>
            <p class="actu">Amandine à obtenu 10 nouveaux points grace au challenge " Téléphone au volant ".</p>
            <p class="options">Accepter - <span class="red">Decliner</span></p>
        </div>
    </div>

    <div class="fil-actu">
        <img src="{{ asset('bundles/badgebox/images/achievements/world-class-achievement.png') }}" class="fil-img-ach" />
        <div class="fil-actu-av">
            <img src="{{ asset('bundles/badgebox/images/Avatars/amandine.jpg') }}" class="fil-avatar">
            <p class="points">800 points</p>
        </div>

        <div class="fil-actu-ct">
            <p class="infos">
                <img src="{{ asset('bundles/badgebox/images/ico/next@2x.png') }}" class="icostart" />
                <a href="{{ path('badge_box_home') }}" class="link">Amandine Gautier</a>

                <img src="{{ asset('bundles/badgebox/images/ico/calendar@2x.png') }}" class="ico" />
                30/01/13
                <img src="{{ asset('bundles/badgebox/images/ico/clock@2x.png') }}" class="ico" />
                13h20</p>
            <p class="actu">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab cupiditate
                placeat quaerat recusandae velit. Asperiores commodi dolore doloribus dolorum</p>
            <p class="options">Epreuve réussit ! +10 points</p>
        </div>
    </div>

    <div class="fil-actu">
        <img src="{{ asset('bundles/badgebox/images/achievements/world-class-achievement.png') }}" class="fil-img-ach" />
        <div class="fil-actu-av">
            <img src="{{ asset('bundles/badgebox/images/Avatars/world-burn.jpg') }}" class="fil-avatar">
            <p class="points">50 points</p>
        </div>

        <div class="fil-actu-ct">
            <p class="infos">
                <img src="{{ asset('bundles/badgebox/images/ico/next@2x.png') }}" class="icostart" />
                <a href="{{ path('badge_box_home') }}" class="link">Amandine Gautier</a>

                <img src="{{ asset('bundles/badgebox/images/ico/calendar@2x.png') }}" class="ico" />
                30/01/13
                <img src="{{ asset('bundles/badgebox/images/ico/clock@2x.png') }}" class="ico" />
                13h20</p>
            <p class="actu">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab cupiditate
                placeat quaerat recusandae velit. Asperiores commodi dolore doloribus dolorum</p>
            <p class="options">Accepter - <span class="red">Decliner</span></p>
        </div>
    </div>

    <div class="fil-actu">
        <img src="{{ asset('bundles/badgebox/images/achievements/world-class-achievement.png') }}" class="fil-img-ach" />
        <div class="fil-actu-av">
            <img src="{{ asset('bundles/badgebox/images/Avatars/noAvatar.png') }}" class="fil-avatar">
            <p class="points">12000 points</p>
        </div>

        <div class="fil-actu-ct">
            <p class="infos">
                <img src="{{ asset('bundles/badgebox/images/ico/next@2x.png') }}" class="icostart" />
                <a href="{{ path('badge_box_home') }}" class="link">Christophe Gautier</a>

                <img src="{{ asset('bundles/badgebox/images/ico/calendar@2x.png') }}" class="ico" />
                30/01/13
                <img src="{{ asset('bundles/badgebox/images/ico/clock@2x.png') }}" class="ico" />
                13h20</p>
            <p class="actu">
                placeat quaerat recusandae velit. Asperiores commodi dolore doloribus dolorum</p>
            <p class="options">Accepter - <span class="red">Decliner</span></p>
        </div>
    </div>

    <div class="fil-actu">
        <img src="{{ asset('bundles/badgebox/images/achievements/world-class-achievement.png') }}" class="fil-img-ach" />
        <div class="fil-actu-av">
            <img src="{{ asset('bundles/badgebox/images/Avatars/amandine.jpg') }}" class="fil-avatar">
            <p class="points">800 points</p>
        </div>

        <div class="fil-actu-ct">
            <p class="infos">
                <img src="{{ asset('bundles/badgebox/images/ico/next@2x.png') }}" class="icostart" />
                <a href="{{ path('badge_box_home') }}" class="link">Amandine Gautier</a>

                <img src="{{ asset('bundles/badgebox/images/ico/calendar@2x.png') }}" class="ico" />
                30/01/13
                <img src="{{ asset('bundles/badgebox/images/ico/clock@2x.png') }}" class="ico" />
                13h20</p>
            <p class="actu">Lorem ipsum dolor A ab cupiditate
                placeat quaerat recusandae velit. Asperiores commodi dolore doloribus dolorum</p>
            <p class="options">Epreuve réussit ! +10 points</p>
        </div>
    </div>

</div>



