<div id="header">
    <div id="header-box">
       <div id="header-box-ct">
           <a href="{{ path('badge_box_homepage') }}"><h1 id="title">Badge<span id="white-title">Box</span></h1> </a></div>

        <div id="connect">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <img src="{{ asset('bundles/badgebox/images/new-post.png') }}" alt="avatar" id="new-post">
            Nouveaux challenges disponibles !
        {% else %}
            <div id="head-connect">
                {{ render(controller('UserBundle:Security:LoginBis')) }}
           </div>
        {% endif %}
        </div>
        <div class="clear"></div>
    </div>
</div>
<div id="underheader">
        <div id="underheader-box">
            ￼{% for flashMessage in app.session.flashbag.get('success') %}
                <div id="flash-success">{{ flashMessage }}</div>
              {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div id="flash-error">{{ flashMessage }}</div>
            {% endfor %}
        </div>
</div>