<div id="option-box">

    <div id="more-people">
        <h3 class="more-title">Suggestion d'amis </h3>

        <div class="more-friends">
            <img src="{{ asset('bundles/badgebox/images/Avatars/noAvatar.png') }}" class="more-avatar" />
            <h4 class="sug-name">Christophe Gautier</h4>
            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

        <div class="more-friends">
            <img src="{{ asset('bundles/badgebox/images/Avatars/amandine.jpg') }}" class="more-avatar" />
            <h4 class="sug-name">Christophe Gautier</h4>
            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

        <div class="more-friends">
            <img src="{{ asset('bundles/badgebox/images/Avatars/world-burn.jpg') }}" class="more-avatar" />
            <h4 class="sug-name">Christophe Gautier</h4>
            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>

    <div id="more-achievement">
        <h3 class="more-title">Suggestion d'épreuves </h3>

        <div class="more-friends">
            <img src="{{ asset('bundles/badgebox/images/achievements/2.png') }}" class="more-avatar" />
            <h4 class="sug-name">Christophe Gautier</h4>
            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

        <div class="more-friends">
            <img src="{{ asset('bundles/badgebox/images/achievements/2.png') }}" class="more-avatar" />
            <h4 class="sug-name">Christophe Gautier</h4>
            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

        <div class="more-friends">
            <img src="{{ asset('bundles/badgebox/images/achievements/2.png') }}" class="more-avatar" />
            <h4 class="sug-name">Christophe Gautier</h4>
            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>

</div>