<div id="profil-box">
    <div id="profil-box-head">

        <div id="profil-box-avatar">
            <img src="{{ asset('bundles/badgebox/images/Avatars/world-burn.jpg') }}" alt="User Avatar" class="profil-avatar"/>
        </div>
        <div id="profil-box-infos">
            <h3 class="username">Pseudonyme Complet</h3>
            <p class="username">Christophe Gautier</p>
            <p>Points: 2000  <span>Follower: 2000</span></p>
        </div>
        <div id="profil-box-infos-opt">
            <span class="opt">
                <img src="{{ asset('bundles/badgebox/images/ico/mail@2x.png') }}" alt="Icones" class="profil-ico"/>
                <a href="{{ path('fos_user_security_logout') }}" class="link">Déconnexion</a></span>
            <span class="opt">
                <img src="{{ asset('bundles/badgebox/images/ico/synchronize@2x.png') }}" alt="Icones" class="profil-ico"/>Suivre</span>
        </div>

        <div id="profil-box-message">
            <h4>" Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, aut eius eligendi eos excepturi expedita fugiat
                ipsam molestiae nemo
                odio officiis quibusdam reiciendis, veritatis. Doloribus eveniet labore quaerat quos totam? "</h4>
        </div>

        <div id="profil-box-post">
            <input type="text" class="profil-post" placeholder="Ecrire un nouveau message" >
            <input type="submit" value="Publier" class="profil-sub"/>
        </div>

        <div id="profil-box-social">
            <ul class="social-list">
                <li class="list">
                    <img src="{{ asset('bundles/badgebox/images/facebook.png') }}" alt="facebook"  class="social"/><span class="answer">http://www.social.com</span></li>
                <li class="list">
                    <img src="{{ asset('bundles/badgebox/images/twitter.png') }}" alt="twitter" class="social"/><span class="answer">http://www.social.com</span></li>
                <li class="list">
                    <img src="{{ asset('bundles/badgebox/images/googleplus.png') }}" alt="google+" class="social"/><span class="answer">http://www.social.com</span></li>
            </ul>
        </div>

    </div>

</div>