<div id="content-header">
    <div id="font-home">
        <h3 id="create-ach-title">Créer votre épreuve rapidement</h3>
        <hr class="create"/>
        <input type="text" name="ach-title" class="create-ach" placeholder="Nom de l'épreuve"/>

        <textarea id="qck-area" placeholder="Description de la tache à accomplir"></textarea>

        <hr class="create"/>

        <select class="qck-sel">
            <option> Catégorie </option>
            <option>je ne sais pas</option>
        </select>

        <select class="qck-sel">
            <option> Tous mes amis </option>
            <option>Amandine Gautier Poony</option>
        </select>
        <input type="submit" id="qck-sub" value="Créer" />

    </div>

    <div class="achievement-box">
        <div class="achievement-box-img">
            <img src="{{ asset('bundles/badgebox/images/achievements/world-class-achievement.png') }}"  alt="logo" class="logo"/>
            <h4>Achievement Inconnu</h4>
        </div>
        <div class="achievement-box-img">
            <img src="{{ asset('bundles/badgebox/images/achievements/world-class-achievement.png') }}"  alt="logo" class="logo"/>
            <h4>Achievement Inconnu</h4>
        </div>
        <div class="achievement-box-img">
            <img src="{{ asset('bundles/badgebox/images/achievements/world-class-achievement.png') }}"  alt="logo" class="logo"/>
            <h4>Achievement Inconnu</h4>
        </div>
        <div class="achievement-box-img">
            <img src="{{ asset('bundles/badgebox/images/achievements/world-class-achievement.png') }}"  alt="logo" class="logo"/>
            <h4>Achievement Inconnu</h4>
        </div>
        <div class="achievement-box-img">
            <img src="{{ asset('bundles/badgebox/images/achievements/world-class-achievement.png') }}"  alt="logo" class="logo"/>
            <h4>Achievement Inconnu</h4>
        </div>
        <div class="achievement-box-img">
            <img src="{{ asset('bundles/badgebox/images/achievements/world-class-achievement.png') }}"  alt="logo" class="logo"/>
            <h4>Achievement Inconnu</h4>
        </div>
    </div>
</div>