{% trans_default_domain 'FOSUserBundle' %}

<div id="user-edit">
    <h2 class="page-title">Modifier mon mot de passe</h2>
    <p class="help">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda ducimus ex fugit, ipsa ipsam magni molestiae</p>
    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">

        <div>
            {{ form_errors(form.current_password) }}
            {{ form_label(form.current_password) }}
            {{ form_widget(form.current_password, {'attr': {'class': 'txt', 'placeholder': 'Mot de passe actuel'}}) }}
         </div>

        <div>
            {{ form_errors(form.plainPassword.first) }}
            {{ form_label(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'txt', 'placeholder': 'Nouveau mot de passe'}}) }}
        </div>

        <div>
            {{ form_errors(form.plainPassword.second) }}
            {{ form_label(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'txt', 'placeholder': 'Vérification'}}) }}
        </div>


        {{ form_rest(form) }}
        <div>
            <input type="submit" value="{{ 'change_password.submit'|trans }}" class="sub"/>
        </div>
    </form>
</div>